GCP_PROJECT=f1optimizer
GCP_REGION=us-central1
GCS_RAW=gs://f1optimizer-data-lake/raw
GCS_PROCESSED=gs://f1optimizer-data-lake/processed
SLACK_WEBHOOK_URL=
USE_LOCAL_DATA=false
AIRFLOW__CORE__EXECUTOR=LocalExecutor
